.h2o-about-section{
    padding: 0 0 clamp(20px, 2.9126vw, 30px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(15px, 2.9126vw, 30px);
    }

    &__inner{
        display: flex;
        flex-direction: column;
    }


    &__image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}