<header>
  <div class="h2o-container">
    <div class="h2o-header">

      <div class="h2o-burger">
        <span class="h2o-burger__line"></span>
      </div>

      <a href="#" class="h2o-logo h2o-icon-logo">
      </a>

      <div class="h2o-header__btns">
        <button class="h2o-collect h2o-yellow-button">
         <i class="h2o-icon-clock"></i>
          Быстрая регистрация</button>
        <button class="h2o-collect h2o-green-button">
          Войти</button>
      </div>
    </div>
  </div>
</header>