.h2o-footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(10px, 1.9417vw, 20px);

    &__title{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: 10px;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        position: relative;

        &::before, &:after{
            height: 1px;
            margin-right: 5px;
            width: 350px;
            content: '';
            top: 50%;
            position: absolute;
        }

        &::before{
            background: linear-gradient(90deg,#202020 0,#1a1a1a 2%,#585858 7%,#585858 10%,#585858 0,#585858 14%,#585858);
            left: -10px;
            transform: translate(-104%, -50%);
        }

        &::after{
            background: linear-gradient(90deg,#585858 95%,#1a1a1a 98%,#202020);
            right: -10px;
            transform: translate(103%, -50%);
        }
    }

    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 5px 1px;
        overflow: hidden;
        overflow-x: auto;
        position: relative;

        &::-webkit-scrollbar{
            display: none;
        }

        @include small-tablet{
            grid-gap: 5px 10px;
        }
    }

    &__item{
        display: flex;
    }

    .h2o-footer-info__icon{
        @include mobile{
            height: 35px;
            width: 60px;
        }
    }
}