// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  --body-bg: #000;
  --body-font-size: 16px;
  --content-width: 1030px;
  --content-width--mode: 810px;
  --container-offset: 20px;

  @include small-tablet {
    --container-offset: 15px;
  }

  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width--mode: calc(var(--content-width--mode) + (var(--container-offset) * 2));

// --------------- default scroll variable ---------------
  --scrollbar-thumb: #1c1c1c;
  // --scrollbar-thumb-hover: #00aff0;
  --scrollbar-track:  rgba(245, 245, 245, 0.28);
  --scrollbar-track-hover: rgba(245, 245, 245, 0.28);
  --overlay-bg: rgba(0, 0, 0, 0.5);

// --------------- default font-family variable ---------------
  --font-family: "Arial" , sans-serif; // var(--font-family);
  --font-family2: "Geneva" , sans-serif; // var(--font-family2);
  --font-family3: "Roboto" , sans-serif; // var(--font-family3);

// --------------- default text color variable ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#ff9101)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#ffd800)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#afaeae)}; // rgba(var(--cl-e),1.0);
  --cl-f: #{HexToRGB(#fbcf00)}; // rgba(var(--cl-f),1.0);
  --cl-g: #{HexToRGB(#8b8f96)}; // rgba(var(--cl-g),1.0);


  --cl-h: #{HexToRGB(#5b4a7c)}; // rgba(var(--cl-h),1.0);
  --cl-i: #{HexToRGB(#b8d5eb)}; // rgba(var(--cl-i),1.0);
  --cl-j: #{HexToRGB(#532801)}; // rgba(var(--cl-j),1.0);
  --cl-k: #{HexToRGB(#fffdcd)}; // rgba(var(--cl-k),1.0);
  --cl-l: #{HexToRGB(#b777f8)}; // rgba(var(--cl-l),1.0);
  --cl-m: #{HexToRGB(#d46cfe)}; // rgba(var(--cl-m),1.0);

// --------------- default background color variable ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#27942d)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#2bcd3a)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#ffd800)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#fff600)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#613e9c)}; // rgba(var(--bg-g),1.0);
  --bg-h: #{HexToRGB(#202020)}; // rgba(var(--bg-h),1.0);
  --bg-i: #{HexToRGB(#585858)}; // rgba(var(--bg-i),1.0);
  --bg-j: #{HexToRGB(#3fbb4b)}; // rgba(var(--bg-j),1.0);
  --bg-k: #{HexToRGB(#9a8100)}; // rgba(var(--bg-k),1.0);
  --bg-l: #{HexToRGB(#272c36)}; // rgba(var(--bg-l),1.0);
  --bg-m: #{HexToRGB(#5b597d)}; // rgba(var(--bg-m),1.0);
  --bg-n: #{HexToRGB(#cfaf03)}; // rgba(var(--bg-n),1.0);

// --------------- default border color color variable ---------------
  --br-a: #ff9600; // var(--br-a);
  --br-b: #ab9107; // var(--br-b);
  --br-c: #ffd800; // var(--br-c);


  --br-d: #974ad1; // var(--br-d);
  --br-e: #241334; // var(--br-e);
  --br-f: #5b4a7c; // var(--br-f);
  --br-g: #808080; // var(--br-g);
  --br-h: #e08523; // var(--br-h);
  --br-i: #543354; // var(--br-i);

// -------------
}


